// colors
$main: #00FFA3;
$mainGradient: linear-gradient(180deg, #00D8A4 0%, #009470 100%);
$while: #fff;
$black: #031923;

// breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// max width breakpoints
$max-xs: 0;
$max-sm: 575px;
$max-md: 767px;
$max-lg: 991px;
$max-xl: 1199px;
$max-xxl: 1399px;